<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/"
      ><img height="50" src="../../assets/img/Kids Shop.png" alt=""
    /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="category">Category</a>
        </li>

        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="login"
            tabindex="-1"
            aria-disabled="true"
            >Dang nhap</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="logup"
            tabindex="-1"
            aria-disabled="true"
            >Dang Ky</a
          >
        </li>
      </ul>
      <form class="d-flex" (ngSubmit)="onSearch(myIp.value)">
        <input
          #myIp
        
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
          (keyup.enter)="onSearch(myIp.value)"
        />
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav> -->
<div class="container">
  <div class="top-line" style="padding: 15px 0 4px"></div>
  <div class="mid-line" style="padding: 10px 0 20px">
    <div class="row d-flex align-items-center">
      <div class="col-3">
        <img
          src="https://livedemo00-opencart.template-help.com/opencart_prod-23516/image/catalog/logo.png"
          alt=""
        />
      </div>
      <div class="col-6">
        <!-- <div class="input-group mb-3"> -->
          <form action="" class="input-group mb-3" (ngSubmit)="onSearch(myIp.value)" >
            <input
          #myIp
          (keyup.enter)="onSearch(myIp.value)"
            type="text"
            class="form-control"
            placeholder="Recipient's username"
            aria-label="Recipient's username"
            aria-describedby="button-addon2"
          />
          <button
            class="btn btn-info text-light"
            type="button"
            id="button-addon2"
            type="submit"
          >
            Search
          </button>
          </form>
        </div>
      <!-- </div> -->
      <div class="col-3 d-flex">
        <!-- <fa-icon [icon]="faPhone" style="color: #34b1da" class="mt-1"></fa-icon>n -->
        <p class="phone ms-2">800-2345-6789</p>
      </div>
    </div>
  </div>
  <div class="bot-line">
    <div class="container">
      <div class="row">
        <div class="col-4" style="padding-left: 0">
          <div class="html-block">
            <span class="cat-title" style="height: 60px">Categories</span>
          </div>
        </div>
        <div class="col-8 d-flex" style="background-color: #464646">
          <ul class="list-header mt-2">
            <li><a routerLink="">Home</a></li>
            <li><a routerLink="logup">Register</a></li>
            <li><a routerLink="login">Login</a></li>
            <li><a routerLink="category">Category</a></li>
            <li><a href="">Checkout</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>