<!-- <footer class="bg-light text-center text-lg-start">
    <div class="container p-4">
      <div class="row">
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase">Footer Content</h5>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste atque ea quis molestias. Fugiat pariatur maxime quis culpa corporis vitae repudiandae aliquam voluptatem veniam, est atque cumque eum delectus sint!</p>
        </div>
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Links</h5>
          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-dark">Link 1</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Link 2</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Link 3</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Link 4</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-0">Links</h5>
          <ul class="list-unstyled">
            <li>
              <a href="#!" class="text-dark">Link 1</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Link 2</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Link 3</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Link 4</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2021 Your Company Name:
      <a class="text-dark" href="#">Privacy Policy</a>
    </div>
  </footer>
   -->

   <div class="footer " style="background: #464646">
    <div class="container">
      <div class="d-flex">
        <ul class="col-3 list-footer">
          <li class="list-footer__li">Information</li>
          <li>About Us</li>
          <li>Delivery Information</li>
          <li>Privacy Policy</li>
          <li>Terms & Conditions</li>
        </ul>
        <ul class="col-3 list-footer">
          <li class="list-footer__li">My Account</li>
          <li>My Account</li>
          <li>Order History</li>
          <li>Find a Wish List</li>
          <li>Gift Certificates</li>
        </ul>
        <ul class="col-3 list-footer">
          <li class="list-footer__li">Customer Service</li>
          <li>Contact Us</li>
          <li>Returns</li>
          <li>Site Map</li>
          <li>Blog</li>
        </ul>
      </div>
      <div class="copyright">
        Powered By OpenCart Electromo © 2023. Design by Zemez
      </div>
    </div>
  </div>
  <div class="footer" style="background: #464646">
   