
<div class="container">
  <div class="row">
    
    <div class="col-sm-6">
      <img style="width: 100%;height: 300px;;object-fit: contain;" [src]="elementId.image" class="img-responsive " alt="Sản phẩm">
    </div>
     <div class="col-sm-6">
      <p>Mã sản phẩm: {{elementId.name}}</p>
      <p>Giá: {{elementId.price}} VND</p>
      <p>Mô tả: {{elementId.desc}}</p>
      <br>
    
      <button type="button" class="btn btn-primary">Mua hàng</button>
    </div>
  </div>
  <br>
 
  <div class="row">
    <div class="col-sm-12">
      <h2>Thông tin chi tiết sản phẩm</h2>
      <p>Đây là thông tin chi tiết về sản phẩm</p>
    </div>
  </div>
</div>




